# build artifacts
build/
*.o
*.out

# binaries
main
*.exe

# model checkpoints
*.pt
hardware/rl/checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
hardware/rl/venv/

# logs
*.log

# editor
.vscode/
*.swp

# OS

.DS_Store

#Claude
CLAUDE.md

# wsl windows artificts 
*:Zone.Identifier
